<% layout('layouts/boilerplate')%>
<h1 class="text-center">Edit Recipe</h1>
<form
  id="recipe-form"
  class="row g-3"
  action="/api/recipes/<%=recipe._id %>?_method=PUT"
  method="POST"
  novalidate
  enctype="multipart/form-data"
>
  <!-- Title -->
  <div class="col-md-6 mb-3">
    <label for="inputTitle" class="form-label">Title</label>
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-fonts"></i>
      </span>
      <input
        name="title"
        type="text"
        value="<%=recipe.title%>"
        class="form-control"
        id="inputTitle"
        minlength="5"
        maxlength="50"
        aria-label="Recipe Title up to 50 characters"
        required
        autocomplete="off"
        aria-required="true"
        autocapitalize="words"
        autofocus
      />
    </div>
    <small class="form-text text-muted">Maximum length 50 characters.</small>
  </div>
  <!-- Difficulty -->
  <div class="col-md-3 mb-3">
    <label for="inputDifficulty" class="form-label">Difficulty</label>
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-bar-chart-fill"></i>
      </span>
      <select id="inputDifficulty" class="form-select" name="difficulty" required
      aria-required="true"
      aria-label="Select Difficulty">
      
      <% difficultyOptions.forEach(option => { %>
        <option value="<%= option %>" <% if (option === recipe.difficulty) { %>selected<% } %>>
          <%= option %>
        </option>
      <% }); %>
    </select>
    </div>
    <small class="form-text text-muted">Please provide recipe difficulty level.</small>
  </div>
 <!-- Servings -->
  <div class="col-md-3 mb-3">
    <label for="inputServings" class="form-label">Servings</label>
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-people-fill"></i>
      </span>
      <input
        id="inputServings"
        type="number"
        value="<%=recipe.servings%>"
        class="form-control"
        name="servings"
        min="1"
        max="16"
        required
        aria-required="true"
      />
    </div>
    <small class="form-text text-muted">Maximum of 16 servings allowed.</small>
  </div>
<!-- Description -->
  <div class="col-md-12 mb-3">
    <label for="textareaDescription" class="form-label">Description</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-body-text"></i></span>
      <textarea
        class="form-control"
        id="textareaDescription"
        style="resize: none"
        name="description"
        minlength="5"
        maxlength="500"
        autocomplete="off"
        rows="4"
        required
        aria-required="true"
        autocapitalize="sentences"
      ><%=recipe.description%></textarea>
    </div>
    <small class="form-text text-muted">Maximum length 500 characters.</small>
  </div>
  <!-- Dish Type -->
  <div class="col-md-3 mb-3">
    <label for="inputDishTypes" class="form-label">Dish Type:</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-cup-hot-fill"></i></span>
      <select
        id="inputDishTypes"
        class="form-select"
        name="dishTypes[]"
        multiple
        size="4"
        required
        aria-required="true"
        aria-label="Select Dish Types"
      >
      <% dishTypesOptions.forEach(option => { %>
        <option  value="<%= option %>" <% if ( recipe.dishTypes.includes(option)) { %>selected<% } %>>
          <%= option %>
        </option>
      <% }); %>
      </select>
    </div>
    <small class="form-text text-muted"
      >Use <kbd>ctrl</kbd> key to select up to 3 dish types.</small
    >
  </div>

<!-- Meal Type -->
  <div class="col-md-3 mb-3">
    <label for="inputMealTypes" class="form-label">Meal Type:</label>
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-cup-hot-fill"></i>
      </span>
      <select
        name="mealTypes[]"
        id="inputMealTypes"
        class="form-select"
        multiple
        size="4"
        required
        aria-required="true"
        aria-label="Select Meal Types"
      >
        <% mealTypesOptions.forEach(option => { %>
          <option  value="<%= option %>" <% if ( recipe.mealTypes.includes(option)) { %>selected<% } %>>
            <%= option %>
          </option>
        <% }); %>
      </select>
    </div>
    <small class="form-text text-muted"
      >Use <kbd>ctrl</kbd> key to select up to 3 meal types.</small
    >
  </div>
<!-- Cuisine -->
  <div class="col-md-3 mb-3">
    <label for="inputCuisine" class="form-label">Cuisine</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-globe-americas"></i></span>
      <select
        id="inputCuisine"
        class="form-select"
        name="cuisines[]"
        multiple
        required
        size="4"
        aria-required="true"
        aria-label="Select Cuisines"
      >

        <% cuisinesOptions.forEach(option => { %>
          <option  value="<%= option %>" <% if ( recipe.cuisines.includes(option)) { %>selected<% } %>>
            <%= option %>
          </option>
        <% }); %>
      </select>
    </div>
    <small class="form-text text-muted">Use <kbd>ctrl</kbd> key to select up to 3 cuisines.</small>
  </div>
<!-- Contains Allergens -->
  <div class="col-md-3 mb-3">
    <label for="inputAllergens" class="form-label">Contains Allergens</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-exclamation-triangle-fill"></i></span>
      <select id="inputAllergens" class="form-select" name="allergens[]" multiple>

        <% allergensOptions.forEach(option => { %>
          <option  value="<%= option %>" <% if ( recipe.allergens.includes(option)) { %>selected<% } %>>
            <%= option %>
          </option>
        <% }); %>
      </select>
    </div>
    <small class="form-text text-muted"
      >To select multiple allergens, use the <kbd>ctrl</kbd> key</small
    >
  </div>
<!-- Preparation time -->
  <div class="col-md-3 mb-3">
    <label for="inputPreparationTime" class="form-label">Preparation time</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-alarm"></i></span>
      <input
        id="inputPreparationTime"
        type="number"
        class="form-control"
        name="prepTime"
        min="0"
        max="1440"
        required
        aria-required="true"
        value="<%=recipe.prepTime%>"
      />
      <span class="input-group-text">min</span>
    </div>
    <small class="form-text text-muted">Preparation time cannot exceed 1440 min | 24h</small>
  </div>

<!-- Cooking time -->
  <div class="col-md-3 mb-3">
    <label for="inputCookingTime" class="form-label">Cooking time</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-alarm"></i></span>
      <input
        id="inputCookingTime"
        type="number"
        class="form-control"
        name="cookTime"
        min="0"
        max="1440"
        value="<%=recipe.cookTime%>"
        required
        aria-required="true"
      />
      <span class="input-group-text">min</span>
    </div>
    <small class="form-text text-muted">Cooking time cannot exceed 1440 min | 24h</small>
  </div>
<!-- Replace Image -->
  <div class="col-md-6 mb-3">
    <label for="inputImage" class="form-label">Replace image</label>
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-image"></i></span>
      <input
        type="file"
        class="form-control"
        id="inputImage"
        name="image"
        required
        aria-required="true"
        accept="image/png, image/jpeg, image/jpg"
      />
    </div>
    <small class="form-text text-muted"
      >Please upload a high-quality image in one of the following formats: JPG, PNG, or JPEG.</small
    >
  </div>

  <!-- Previous Image -->
  <div class="col-md-12 mb-3 d-flex justify-content-center">
    <div class="">
      <img src="<%=recipe.image.thumbnail %>" class="img-thumbnail" alt="" />
      <div class="form-check-inline">
        <input
        type="hidden"
          type="text"
          name="deleteImage"
          value="<%=recipe.image.filename%>"
          id="image"
        />
      </div>
    </div>
  </div>


  
  <div class="col-md-12 ingredient-box" id="ingredientContainerLabel">
    <label for="ingredient-container" class="form-label small text-muted">Please enter a list of all ingredients required for this recipe, along with their respective quantities. If there are any optional ingredients, please indicate this by unchecking the corresponding checkbox.</label>
    <div class="ingredient-container">
        <% if(recipe.ingredients && recipe.ingredients.length > 0) {%> <% for (let
            ingredient of recipe.ingredients) { %>

            <div class="input-group mb-3">
                    <div class="input-group-text">
                      <span>Required&nbsp;</span><input class="form-check-input ingredients-checkbox mt-0" name="ingredients[required]" type="checkbox"  <% if(ingredient.required) { %> checked <% } %> value=""   aria-label="Checkbox for following text input"> 
                    </div>
                  
                    <input
                    type="text"
                    class="form-control"
                    name="ingredients[name][]" 
                    placeholder="Ingredient"
                    aria-label="Ingredient"
                    aria-describedby="button-addon2"
                    value="<%=ingredient.name%>"
                    style="max-width: 60%"
                  />
                    <input
                      type="text"
                      class="form-control"
                      name="ingredients[quantity][]" 
                      placeholder="Quantity"
                      aria-label="Quantity"
                      aria-describedby="button-addon2"
                      value="<%=ingredient.quantity%>"
                      style="max-width: 20%"
                    />
                   
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="ingredients[unit][]" style="max-width: 20%">
                      <% unitOptions.forEach(option => { %>
                        <option value="<%= option %>" <% if (option.toString() === ingredient.unit.toString()) { %>selected<% } %>>
                          <%= option %>
                        </option>
                      <% }); %>

                      </select>
                    <button
                    data-action="delete"
                    class="btn btn-danger delete-ingredient-btn"
                    type="button"
                    id="delete-ingredient-btn"
                  >
                  <i class="bi bi-trash3" style="pointer-events: none;"></i>
                  </button>
                  </div>

            <% } %> <% } else { %>
                <p>Ingredients are not available</p>
              <% } %>

    </div>
    <div class="d-grid gap-2 col-md-6 mx-auto">
      <button id="add-ingredient-btn" class="btn btn-warning col-md-6 mx-auto" type="button">
        <i class="bi bi-handbag"></i> Add Ingredient
      </button>
    </div>
  </div>

  
  <div class="col-md-12 instruction-box" id="instructionContainerLabel">
    <label for="instruction-container" class="form-label small text-muted">Please provide a detailed list of instructions for preparing this recipe, including the required time for each step. If necessary, you may include additional notes or tips to help ensure success.</label>
    <div class="instruction-container">
        <% if(recipe.instructions && recipe.instructions.length > 0) {%> <%
            recipe.instructions.forEach((instruction, index) => { %>

        <div class="input-group mb-3">
            <span class="input-group-text instruction-nbr">Step 1</span>
      
            <input
            type="text"
            class="form-control"
            name="instructions[step][]" 
            value="<%=instruction.step%>"
            placeholder="Instruction"
            aria-label="Instruction"
            aria-describedby="button-addon2"
          />
            <button
            data-action="delete"
            class="btn btn-danger delete-instruction-btn"
            type="button"
            id="delete-instruction-btn"
          >
          <i class="bi bi-trash3" style="pointer-events: none;"></i>
          </button>
          </div>
          <% }) %> <% } else {%>
            <p>Instructions are not available</p>
            <% } %>
        
      </div>
    </div>

    <div class="d-grid gap-2 col-md-6 mx-auto">
    <button id="add-instruction-btn" class="btn btn-warning col-md-6 mx-auto" type="button">
      <i class="bi bi-list"></i> Add Instruction
    </button>
  </div>
  
  </div>
</form>

<div class="col-md-12 mt-5">
  <button class="btn btn-secondary col-2" onclick="location.href='/api/recipes/<%=recipe._id%>'">
    Go Back
  </button>
  
  <button type="submit" form="recipe-form" class="btn btn-primary col-2 float-end">
    Update
  </button>
</div>

<!-- HTML code for the template -->
<template id="ingredient-template">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <span><label class="ingredient-checkbox-label">Required</label>&nbsp;</span>
      <input
        class="form-check-input ingredient-checkbox"
        name="ingredients[required]"
        type="checkbox"
        value="true"
      />
    </div>
      
  <!-- Ingredient Input Field -->
    <input
    list="suggestion-list"
    type="text"
    oninput="automcomplete(this)"
    class="form-control ingredient-input"
    name="ingredients[name][]"
    placeholder="Search ingredient (up to 50 characters)"
    autocomplete="off"
    required
    maxlength="50"
    aria-required="true"
    aria-label="Ingredient"
    style="max-width: 60%"
  />
  <datalist class="suggestion-list" id="suggestion-list"></datalist>

  <!-- Ingredient Quantity Field -->
  <input
  id="inputQuantity"
  type="number"
  class="form-control"
  name="ingredients[quantity][]"
  min="0"
  max="1000"
  autocomplete="off"
  placeholder="Quantity"
  required
  aria-required="true"
  aria-label="Quantity"
  style="max-width: 20%"
/>

          <select
          class="form-select"
          aria-label="Select unit"
          required
          aria-required="true"
          name="ingredients[unit][]"
          style="max-width: 20%"
        >
          <% unitOptions.forEach(option => { %>
          <option value="<%= option %>"><%= option %></option>
          <% }) %>
        </select>

      <!-- Ingredient Delete BTN -->
    <button data-action="delete" class="btn btn-danger delete-ingredient-btn" type="button">
      <i class="bi bi-trash3" style="pointer-events: none"></i>
    </button>
  </div>
</template>

<!-- HTML code for the template -->
<template id="instruction-template">

  <div class="input-group mb-3">
    <span class="input-group-text instruction-nbr">Step 1</span>
    <input
      type="text"
      class="form-control instruction-input"
      autocomplete="off"
      name="instructions[step][]"
      placeholder="Instruction"
      aria-label="Instruction"
    />
    <button data-action="delete" class="btn btn-danger delete-instruction-btn" type="button">
      <i class="bi bi-trash3" style="pointer-events: none"></i>
    </button>
  </div>
</template>

<!-- JavaScript code to handle adding fields -->
<script src="/js/recipeEdit.js"></script>
<script src="/js/autocompleteIngredients.js"></script>


